{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>
    <div class="container">
        <table class="table text-center">
            <thead>
            <tr>
                <th scope="col">Habits</th>
                {% for date in week %}
                <th scope="col">{{date}}</th>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
                {% for habit, fortschritte in week_dict.items %} 
            <tr> 
                <th scope="row">{{habit.name}}</th>
                {% for fortschritt, duration in fortschritte.items %} 
                <td colspan={{duration}}><a class="btn btn-primary ml-3" href="#" role="button">{{fortschritt.anfang}}-{{fortschritt.end}} </a></td>
                {% endfor %}
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>



    <script src="{% static 'habitsapp/apps.js' %}"></script>
</body>
</html>